h2 #{model.get("title")}
p
    span.last-checked Last checked #{moment(moment(model.get("lastChecked"))).fromNow()}. 
    a.recheck-button.btn-link recheck now

.text-center.loading.loader-operations
    img(src="./loader_big_blue.gif")

table.table.tablesorter.table-striped.table-hover
    thead
        tr
            th.text-left #{window.i18n("header_date")}
            th.text-center #{window.i18n("header_title")}
            th.text-right #{window.i18n("header_amount")}
    tbody#table-operations
