if (model.get("amount") > 0)
    tr.success
        td.operation-date #{new Date(model.get('date')).dateString()}
        td.operation-title #{model.get('title')}
        td.operation-amount
            span.pull-right #{Number(model.get('amount')).money()}
else
    tr
        td.operation-date #{new Date(model.get('date')).dateString()}
        td.operation-title #{model.get('title')}
        td.operation-amount
            span.pull-right #{Number(model.get('amount')).money()}
